/* 나눔고딕 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


body, html{
  font-family: 'Nanum Gothic', sans-serif;
  height: 100%;
}

/* 드롭다운 바 */
header{
  background-color: #F9FDCC;
  width: 100% !important;
}
.navbar {
  background-color: #F9FDCC;
}
/* 메뉴 */
div.menu{
  align-items: center;
  margin-right: auto;
  margin-left: 40%;
  font-size: 18px;
  font-weight: bold;
}  
/* 로고 */
.navbar-brand{
  font-size: 30px;
  font-style : italic;
  margin: 20px;
  font-weight: bold;
}
/* 로그인, 회원가입*/
#bs-example-navbar-collapse-1{
  margin-top: 20px;
}
.dropdown{
  color: #2F4858;
}

.dropdown-toggle{
  color: #2F4858;
}
.menu_item {
  margin: 10 px;
  padding: 10px;
  width: 20 px;
} 


/* 사이드 바 */
.main{
  padding: 10px 10px 0 10px;
}
.dropdown-menu{
  font-size: 13px;
}
@media (min-width: 576px){
  .map_button{
    width: 500px;
    height: 250px;
  }
  .map_img{
    width: 450px;
  }
  .map_name{
    text-align: center;
    padding-left: 100px;
    font-weight: bold;
  }
  .ini_button{
    margin-right: 20px;
    margin-bottom: 40px;
    float: left;
    width: 200px;
    height: 150px;
  }
  .ini_img{
    width: 150px;
  }
  .ini_name{
    text-align: center;
    padding-left: 0px;
    font-weight: bold;
  }

}


@media (min-width: 765px) {

  .main{
    position: absolute;
    width: calc(100% - 40px); 
    margin-left: 40px;
    float: right;
  }

  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }
  
  nav.sidebar a{
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover{
    margin-left: 0px;
  }

  nav.numberBar{ /* 하단 페이지네이션 참고*/
    margin-left: 12%;
    width: 70%;
    padding-left: 100px;
    size: 80%;
  }
  .item{
    width: 100px;
    height:100px;
  }
  .map_button{
    width: 800px;
    height: 400px;
  }
  .map_img{
    width: 750px;
  }
  .map_name{
    text-align: center;
    padding-left: 200px;
    font-weight: bold;
  }
  .ini_button{
    margin-right: 20px;
    margin-bottom: 40px;
    float: left;
    width: 300px;
    height: 250px;
  }
  .ini_img{
    width: 250px;
  }
  .ini_name{
    text-align: center;
    padding-left: 30px;
    font-weight: bold;
  }
}

@media (min-width: 1330px) {

  .main{
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  nav.sidebar{
    margin-left: 0px;
    float: left;
  }


  nav.numberBar{ /* 하단 페이지네이션 참고*/
    margin-left: 12%;
    width: 70%;
    padding-left: 200px;
  }
  .item_name{
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    text-align: center;
  }
  .item{
    width: 150px;
    height:150px;
  }
  .map_button{
    width: 1000px;
    height: 500px;
  }
  .map_img{
    width: 950px;
  }
  .map_name{
    text-align: center;
    padding-left: 200px;
    font-weight: bold;
  }
  .ini_button{
    margin-right: 20px;
    float: left;
    width: 500px;
    height: 300px;
  }
  .ini_img{
    width: 350px;
  }
  .ini_name{
    text-align: center;
    padding-left: 30px;
    font-weight: bold;
  }
  
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

/* 사이드 바 */


/* 상단 제목 : 귀농 관련 사이트 */
h3{
  margin-top: -2%;
  margin-bottom: -7%;
  /* 제목 밑줄 */
  width: 80%;
  height: 50px;
  border-bottom: 1px solid green;
  /* 제목 밑줄 */
  }

section{
  float: left;
  width: 70%;
  height: auto;
  margin-top: 5%;
  margin-left: 8%;
}
.main_img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}
.item_name{
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  text-align: center;
}
.item_button{
  margin-right: 30px;
  margin-bottom: 20px;
}

.title_profit{
  padding-left: 20px;
  background-color: #F9FDCC;
  width: 598px;
}
.title_ini{
  padding-left: 20px;
  background-color: #F9FDCC;
  width: 898px;
}
.stay-open {
  display:contents!important;
}
button.close{
  font-size: 30px;
  padding-top: 10px;
  padding-right: 30px;
}
.intro_button{
  margin-right: 40px;
  margin-bottom: 40px;
  float: left;
  width: 150px;
  height: 150px;
}
.intro_img{
  width: 130px;
}
.intro_name{
  text-align: center;
  padding-left: 30px;
  font-weight: bold;
}

footer {
  background-color: #F2F3CC;
  height: 120px;
  text-align: center;
  padding: 45px;
  position: relative;
  clear: both;
}


