@charset "UTF-8";
/* 나눔고딕 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	margin: 0;
	padding:0;
}

span {
	margin-left: 10px;
}

.jumbotron {
  max-width: 600px;	
  margin: auto;
  margin-top: 20px;	
  margin-bottom: 0px;
  border-radius: 30px;
  height: 100px;
  padding: 50px 70px;
  text-align: center;
  background-color: #ffffff;
}

.jumbotron h1 {
  margin-top: -15px;
  font-weight: 800;
  align-items: center;
  text-align: center;
  font-size: 32px;
}

.btn-check{
  align-items: center;
  background-color: #56baed;    
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 0px 0px 0px 100px;
}

.fas {
	align-content: center;
  color: #fff;
}

/* BASIC */
body {
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;  
  background-color: #F9FDCC;
}

.registration-form{
  padding: 50px 0;
}

.registration-form form{
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;  
}

.registration-form .form-icon{
  text-align: center;
  background-color: #56baed;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.registration-form .item{
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #56baed;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .little-button{	
	margin:auto;
	width: 50%;
	background-color: #56baed;
	border-radius: 30px;
	color: white;
}

.registration-form .mail_check_input {
	float: left;
	margin:auto;
	width: 50%;
	border-radius: 30px;
	color: white;
}

@media (max-width: 576px) {    
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}



/* 중복아이디 존재하지 않는경우 */
.id_input_re_1{
	color : green;
	display : none;
}

/* 중복아이디 존재하는 경우 */
.id_input_re_2{
	color : red;
	display : none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1{
		color : green;
		display : none;	
}
.pwck_input_re_2{
		color : red;
		display : none;	
}


/* 유효성 검사 문구 */
.final_id_ck{
	display: none;
}
.final_name_ck{
	display: none;
}
.final_pw_ck{
	display: none;
}
.final_pwck_ck{
	display: none;
}
.final_phoneNo_ck{
	display: none;
}
.final_birthday_ck{
	display: none;
}
.final_mail_ck{
	display: none;
}
.final_addr_ck{
	display: none;
}

.correct{
    color : green;
}
.incorrect{
    color : red;
}
 
