@charset "UTF-8";
/* 나눔고딕 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.wrap {
    width: 1000px;
    margin: 10px auto;  
    max-width: 1000px;	  
}

.jumbotron {
	max-width: 600px;	
	margin: auto;	
	border-radius: 30px;
	
	height: auto;
	padding: 50px 70px;
  text-align: center;
  background-color: #ffffff;
}

/* BASIC */
body {
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;  
  background-color: #F9FDCC;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  padding: 20px;
}

#login {
  margin-top: 15px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;  
  text-align: center;
}

#formFooter {
  background-color: #ffffff;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* TABS */
h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

/* type = text */
input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}

/* type = password*/
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=password]:placeholder {
  color: #cccccc;
}


a {
  margin: 20px;
}

/* OTHERS */
*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

/* modal */
.center {
  margin-top:50px;   
}

.modal-header {
padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}
  
.modal-footer .btn-group button {
height:40px;
border-top-left-radius : 0;
border-top-right-radius : 0;
border: none;
border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
border-right: 0;
}

.login_button {
	margin-bottom: 10px;
}

/* 로그인 실패시 경고글 */
.login_warn{
    text-align: center;
    color : red;
    margin-bottom: 10px;
}